/* basic elements */
html {
    display: block;
    text-align:center;
}
body {
	line-height: 1.88889;
	color: #555753;
	padding: 0;
    width:100vw;
    display:block;
	}
p {
	text-align: justify;
    min-width:400px;
	}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-style: normal;
    font-weight: 500;
    text-align:center;
    /*min-width:400px;*/
}
h1 {
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-top:48px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
h2, .pollutant_button .button_h1 {
    font-family: din-condensed, sans-serif;
    margin-bottom: 3px;
}
h2 {
    margin-top: 1.5em;
    font-size: 30px;
    text-align:left;
}
h3 {
    font-size:20px;
    text-align:left;
}
svg {
}
.meta {
    margin-bottom: 20px;
    margin: 0 0 10px 0;
    color: #444;
    line-height: 1.5em;
    font-size: .7em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.body_text {
    margin:auto;
    min-width:400px;
    width: 60%;
    padding: 10px;
    margin-bottom: 12px;
    text-align: justify;
    text-justify: inter-word;
}



/* sidebar filter styling */
.filters {
    width:10%;
    height:450px;
    display:inline-block;
    background-color:#dddddd;
    margin: auto 0 auto auto;
    min-width: 150px;
}
.filters h1{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size:16px;
    line-height: 16px;
}
.filters h2, .graphtitle, .graphlabel{
    font-family: din-condensed, sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size:13px;
    text-align: center;
    display:block;
    width:100%;
    /*min-width: null;*/
}

/* styling of tooltip for buttons within filter sidebar */
.pollutant_tooltip, .aqi_tooltip{
    vertical-align: top;
    opacity:1;
    margin: 2px auto 0px auto;
    display: inline-block;
    position:relative;
}
.pollutant_tooltip{
    width: 50px;
    height: 50px;
}
.poltooltiptext, .aqitooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius:3px;
    padding: 5px 5px;
    position: absolute;
    font-size: 9px;
    z-index: 1;
    right: 60px;
}
.poltooltiptext {
    top: 0px;
}
.aqitooltiptext{
    top:-12px;
    right:140px;
}
.poltooltiptext::after, .aqitooltiptext::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/*generic styling for all filtering buttons*/
.buttons{
    display:block;
    vertical-align: top;
    /*float: left;*/
    width: 130px;
    /*position:relative;*/
    margin:auto;
}
.button_text{
    font-family: din-condensed, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    /*center the text within the container (on top of the img icon)*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pollutant_button, .aqi_button {
    background-color: #eeeeee;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position:relative; /* necessary for hovering text over center of button*/
    padding:0;
    border-radius:5px;
    display:inline-block;
}
.pollutant_button:hover, .aqi_button:hover {
    background-color: #bbbbbb;
}

/*styling that only applies for pollutant buttons*/
.pollutant_button{
    margin:1%;
    display:inline-block;
    width:22%;
    min-width: 50px;
}
.pollutant_button > img {
    width:100%;
    height:auto;
}
.pollutant_button .button_text{
    font-size: 10px;
    text-align:center;
}

/*styling that only applies for aqi buttons*/
.aqi_button{
    margin:2px auto 0px auto;
    width:130px;
    height:25px;
    display:block;
}
.aqi_button .button_text{
    color:#444444;
    font-size:12px;
}



/* graphing container elements*/
.graphs {
    width:80%;
    display:inline-block;
    vertical-align: top;
}
.double_map, .line_graphs{ /* subcontainers for graphs */
    /*background-color:#bbbbbb;*/
    display:inline-block;
    vertical-align: top;
}
.double_map {
}
.line_graphs{
    /*  width:200px;*/
}

/* individual graph type styles */
.map_graph{
    margin:5px;
    background-color:white;
    width:240px;
    height:400px;
    display:inline-block;
}
.line_graph{
    margin:5px;
    background-color:white;
    width:400px;
    height:180px;
    display:block;
    margin-bottom:40px;
}

/* line graph styling */
.pollution_line1, .pollution_line2, .pollution_line3, .pollution_line4 {
    fill: none;
    stroke-width: 2px;
}
.pollution_line1 {
    stroke:#d63d08; /*#8B2300;*/
}
.pollution_line2{
    stroke:#018f96; /*#00585C;*/
}
.pollution_line3{
    stroke:#148e00; /*#0D5C00;*/
}
.pollution_line4{
    stroke:#8e0050; /*#5C0034;*/
}

.mortality_line1, .mortality_line2, .mortality_line3, .mortality_line4 {
    fill: none;
    stroke-width: 2px;
}
.mortality_line1 {
    stroke:#CA9158;
}
.mortality_line2{
    stroke:#f7d48c;
}
.mortality_line3{
    stroke:#ffa91e;
}
.mortality_line4{
    stroke:#A87D49;
}


.focus circle {
  fill: none;
  stroke: steelblue;
}
.overlay {
  fill: none;
  pointer-events: all;
}
