/* basic elements */
html {
    display: block;
    text-align:center;
}
body {
	line-height: 1.88889;
	color: #555753;
	padding: 0;
    /*width:100vw;*/
    display:block;
    margin:0;
	}
p {
	text-align: justify;
    min-width:400px;
	}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-style: normal;
    font-weight: 500;
    text-align:center;
    /*min-width:400px;*/
}
h1 {
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-top:48px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
h2, .pollutant_button .button_h1 {
    font-family: din-condensed, sans-serif;
    margin-bottom: 3px;
}
h2 {
    margin-top: 1.5em;
    font-size: 30px;
    /*text-align:left;*/
}
h3 {
    font-size:20px;
    /*text-align:left;*/
}
svg {
}
.meta {
    margin-bottom: 20px;
    margin: 0 0 10px 0;
    color: #444;
    line-height: 1.5em;
    font-size: .7em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.body_text {
    margin:auto;
    /*min-width:400px;*/
    width: 60%;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}
.section{
    width:100%;
    display:block;
}
/*SECTION 1 -- INTRO VISUALIZATION*/
#section1{
    height:550px
}
#section1 h1, #section1 h2{
    margin-top:30px;
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align:center;
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
#section1 h1{
    margin-top:150px;
    font-size: 200px;
}
#section1 h2{
    margin-top:60px;
}
#section1 img{
    width:100%;
    height:700px;
    position: absolute;
    margin-left: -50%;
    margin-top: -150px;

}
#section1 button{
    margin-top:150px;
    background-color: rgb(19, 193, 182);
    position:relative;
    border-radius:2px;
    padding:10px 40px 10px 40px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#ffffff;
}
/*SECTION 2 -- ABOUT*/
#section2{
    /*height:500px;*/
    background-color: #e3f2f1;
}
#section2 img{
    width:40%;
    min-width:550px;
    height:auto;
    display:inline-block;
    vertical-align: top;
}
#section2 .body_text{
    display:inline-block;
    width:60%;
    min-width: 550px;
    padding:20px 10% 20px 10%;
    margin: 0;
}
/*SECTION 3 -- LEARNING CURVE*/
#learning-curve{
    background-color: #eeeeee;
}
.pollutant_info{
    display:inline-block;
    vertical-align: top;
    padding:50px 20px 50px 20px;
    width:25%;
    min-width:300px;
}
#learning-curve h2{
    /*font-size:13px;*/
    text-align: center;
    display:block;
    width:100%;
    margin-top:0px;
    padding-top:60px;
}
.pollutant_info h3{
    /*font-size:13px;*/
    text-align: center;
    display:block;
    width:100%;
}
.pollutant_info .body_text{
    width:100%;
    display:block;
    text-align:center;
    margin:0;
}
.circle-icon{
    width:100%;
    height:auto;
    position:relative;
}
.circle-icon .button_text{
    font-size: 20px;
    text-align:center;
    position: absolute;
    top:50%;
    width: 100%;
}
.circle-icon img{
    border-radius: 50%;
    width:50%;
    height:auto;
    border:solid;
    background-color: #ffffff;
}

/*SECTION 4 -- CITIES INSIGHTS*/
#high-low-examples{
    background-color:#f5f5f5;
    color:white;
}
/*#high-low-examples h2*/
#high-low-examples h3, #high-low-examples .body_text{
    color:white;
}
#high-low-examples h3{
    padding-top:20px;
}
.city-insights-subsection{
    width:40%;
    display:inline-block;
    margin:0 4% 0 4%;
    padding:0 0 30px 0;

}
.city-insights-callout{
    width:100%;
    display:block;
    height:200px;
    /*background-color:rgb(255,255,255,0.4);*/
    background-color:rgb(19, 193, 182);
    border-radius:2px;

}
.info-line{
    width:100%;
    display:block;
    height:50px;
    padding:0px 30px 20px 30px;
}
.solid-circle{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:white;
    position:relative;
    float:left;
}
.solid-circle .button_text{
    font-size: 20px;
    text-align:center;
    position: absolute;
    top:50%;
    width: 100%;
    color:black;
}
.info-line .body_text{
    padding:0 0 0 10px;
    margin:0;
    float:left;
    width:80%;
}
.city-insights-callout button{
    background-color: rgb(255, 255, 255, 0.5);
    /*position:relative;*/
    border-radius:2px;
    /*padding:10px 40px 10px 40px;*/
    padding:5px 20px 5px 20px;
    border: solid;
    border-color:white;
    border-width:1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#444444;
    float:right;
    margin-right:15px;
}



#dashboard{
    height:650px;
}




/*SECTION 5 -- SOURCES*/
#sources{
    background-color:#e3f2f1;
}




/* sidebar filter styling */
.filters {
    width:25%;
    min-width: 150px;
    height:100%;
    display:inline-block;
    background-color:#fafafa;
    /*margin: auto 0 auto auto;*/
    /*float:right;*/
    border-left:solid;
    border-left-color: #eeeeee;
    border-left-width:1px;
    vertical-align: middle;
}
.filters h1{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size:16px;
    line-height: 16px;
}
.filters h2, .graphtitle, .graphlabel{
    font-family: din-condensed, sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size:13px;
    text-align: center;
    display:block;
    width:100%;
    /*min-width: null;*/
}

/* styling of tooltip for buttons within filter sidebar */
.pollutant_tooltip, .aqi_tooltip, .mortality_tooltip{
    vertical-align: top;
    opacity:1;
    margin: 2px auto 0px auto;
    display: inline-block;
    position:relative;
}
.pollutant_tooltip, .mortality_tooltip{
    width: 50px;
    height: 50px;
}
.poltooltiptext, .aqitooltiptext, .morttooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius:3px;
    padding: 5px 5px;
    position: absolute;
    font-size: 9px;
    z-index: 1;
    right: 60px;
}
.poltooltiptext, .morttooltiptext {
    top: 0px;
}
.aqitooltiptext{
    top:-12px;
    right:140px;
}
.poltooltiptext::after, .aqitooltiptext::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.morttooltiptext::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 100%;
    margin-top: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/*generic styling for all filtering buttons*/
.buttons{
    display:block;
    vertical-align: top;
    /*float: left;*/
    width: 150px;
    /*position:relative;*/
    margin:auto;
}
.button_text{
    font-family: din-condensed, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    /*center the text within the container (on top of the img icon)*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pollutant_button, .aqi_button, .mortality_button {
    background-color: #eeeeee;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position:relative; /* necessary for hovering text over center of button*/
    padding:0;
    border-radius:5px;
    display:inline-block;
}
.pollutant_button:hover, .aqi_button:hover, .mortality_button:hover {
    background-color: #bbbbbb;
}

/*styling that only applies for pollutant buttons*/
.pollutant_button, .mortality_button{
    margin:1%;
    display:inline-block;
    width:22%;
    min-width: 50px;
}
.pollutant_button > img, .mortality_button > img{
    width:100%;
    height:auto;
}
.pollutant_button .button_text, .mortality_button .button_text{
    font-size: 10px;
    text-align:center;
}

/*styling that only applies for aqi buttons*/
.aqi_button{
    margin:2px auto 0px auto;
    width:150px;
    height:25px;
    display:block;
}
.aqi_button .button_text{
    color:#444444;
    font-size:12px;
}



/* graphing container elements*/
.graphs {
    width:75%;
    display:inline-block;
    vertical-align: top;
}
.double_map, .line_graphs{ /* subcontainers for graphs */
    display:inline-block;
    vertical-align: top;
}
.line_graphs{
}

/* individual graph type styles */
.pollutant_map{
    /*margin:5px;*/
    background-color:white;
    width:240px;
    height:400px;
    display:inline-block;
}
.line_graph{
    margin:5px;
    background-color:white;
    width:400px;
    height:180px;
    display:block;
    margin-bottom:40px;
}

/* line graph styling */
.line1, .line2, .line3, .line4 {
    fill: none;
    stroke-width: 2px;
}
#Pollution_line1{ stroke:#1D5287; /*#8B2300;*/ }
#Pollution_line2{ stroke:#158A8C; /*#00585C;*/ }
#Pollution_line3{ stroke:#2FBE87; /*#0D5C00;*/ }
#Pollution_line4{ stroke:#9DDD52; /*#5C0034;*/ }
#Mortality_line1{ stroke:#750020; }
#Mortality_line2{ stroke:#AD1452; }
#Mortality_line3{ stroke:#D6516B; }
#Mortality_line4{ stroke:#FDC8AA; }
