/* basic elements */
html {
    display: block;
    text-align:center;
}
body {
	line-height: 1.88889;
	color: #555753;
	padding: 0;
    margin:40px;
    /*min-width:1000px;*/
	}
p {
	text-align: justify;
    min-width:400px;
	}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-style: normal;
    font-weight: 500;
    text-align:center;
    min-width:400px;
}
h1 {
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 11px;
    text-transform: uppercase;
}
h2, .pollutant_button .button_h1 {
    font-family: din-condensed, sans-serif;
    margin-bottom: 3px;
}
h2 {
    margin-top: 1.5em;
    font-size: 30px;
    text-align:left;
}
svg {
}
.meta {
    margin-bottom: 20px;
    margin: 0 0 10px 0;
    color: #444;
    line-height: 1.5em;
    font-size: .7em;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.body_text {
    margin:auto;
    min-width:400px;
    width: 60%;
    padding: 10px;
}

/* filtering & button elements */
.buttons {
    display:block;
    /*width:100px;*/
}
.pollutant_button {
    background-color: #cccccc;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align:left;
    display:inline-block;
    width:250px;
    line-height: 1.4
}
.pollutant_button .button_h1{
    font-size: 20px;
    text-align:center ;
}
.pollutant_button .button_text{
    font-size: 10px;
    text-align:center;
}

/* graphing container elements*/
.double_map, .line_graphs{ /* containers for graphs */
    background-color:#bbbbbb;
    display:inline-block;
    vertical-align: top;
}
.double_map {
}
.line_graphs{
    /*  width:200px;*/
}

/* individual graph type styles */
.map_graph{
    margin:5px;
    background-color:white;
    width:240px;
    height:400px;
    display:inline-block;
}
.line_graph{
    margin:5px;
    background-color:white;
    width:340px;
    height:200px;
    display:block;
}
